<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjxpLYKE8t38vjRZFYqhuk1LQ72QN5J4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>194249209010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dhiwiseFlutterAssigment</string>
	<key>PROJECT_ID</key>
	<string>dhiwise-assignment-task</string>
	<key>STORAGE_BUCKET</key>
	<string>dhiwise-assignment-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194249209010:ios:42a76186060a5a6cab85ab</string>
</dict>
</plist>